/* @media screen and (min-width: 1087px) {
    .navbar-burger {
        color: red;
    }
  } */

  body {
    margin: 0;
  }
  
  .hero-body {
    background-image: url("media/willian-justen-de-vasconcellos-445506-unsplash.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .title {
      color: white;

  }
